:root {
  --afternoon: #9ebcda;
  --morning: #f2d08a;
  --night: #3e3f4d;
  --dawn: #1f2027;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #5a5a72;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #afafaf;
  border-radius: 10px;
}

body {
  background-color: var(--night);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

section {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 40px 0px;
  border-radius: 50px;
  margin-top: 40px;
  gap: 40px;
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.2);
}

section img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px double #444444;
}

h1 {
  font-weight: 800;
  color: #ffffff;
}

p {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #444444;
}

@media (max-width: 700px) {
  section {
    transform: scale(0.7);
  }
}

@media (max-width: 450px) {
  section {
    transform: scale(0.45);
  }
}
